#root{
    margin: 0%;
}
.navbar{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar button {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 10px;
  }