@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
.gradiente{
    background: linear-gradient(180deg, #E73539 0%, rgba(213, 43, 30, 0.00) 100%);
    width: 100%;
    height: 156px;  ;
}
.casaCactus{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* flex-shrink: 0; */
    /* border-radius: 24px 0px 0px 24px; */
    background: #F8F0F0;
}
.text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.tituloLogin{
    font-family: 'Saira Condensed', sans-serif;
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 55px */
    text-transform: uppercase;
}

.cosaslogin{
    color: rgba(26, 23, 23, 0.38);
    font-family: Inter;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-end; */
}
.botonlogin{
display: flex;
flex-wrap: nowrap;
justify-content: center;
font-size: 30px;
}
.xd{
    width: 465px;
    height: 79px;
    background-color: #E73539;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.sesioneslogin{
    color: rgba(26, 23, 23, 0.38);
    font-family: Inter;
    font-size: 20px;
}
.rojologin{
    color: #E73539;
    margin-bottom: 10px;
}
.input-name, .pass {
    background-color: transparent; /* Esto hace que el fondo sea transparente */
    border: none;
    border-bottom: 1px solid rgb(173, 169, 169);
    color: #7c7b7b;
    margin-left: 20px;
}
.input-name:focus, .pass:focus {
    outline: none;
}
.input-name::placeholder, .pass::placeholder {
    color:rgb(173, 169, 169);
}

.input-name{
    margin-left: 50px;
}
