/*importashones del font*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
.contenedor {
    width: 1200px;
    /* height: 600px; */
    height: 100%;
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    /* margin-right: 5px; */
  }
  
  .fotoHombre {
    width: 615px;
    height: 982px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .titulo1{
  font-size: 23px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  font-family: 'Saira Condensed', sans-serif;
  color:white;
  font-style: normal;
  font-weight: 700;
  display: flex;
  text-align:left ;
  left: 30px;
  

  }
  .titulo2 {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    color: rgb(244, 241, 235); 
    text-align:left ;
    font-size: 15px;
    left: 30px;
  }