.contenedor {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}

.fotoHombre {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}


  .titulo1{
font-size: 23px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  color: orange; 
  display: flex;
  text-align:left ;
  left: 30px;
  

  }
  .titulo2 {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    color: orange; 
    text-align:left ;
    font-size: 15px;
    left: 30px;
  }